<template name="principal">

<div class="container">
           <div class="row">
               <div class="jumbotron">
                  <h1>OCR Pasaporte Mexicano</h1>
                  <p>Lector de pasaportes a través de una fotografía tomada desde tu celular o una imagen.</p>
               </div>
           </div>

           <div class="panel panel-default">
  				<div class="panel-body">
    				Basic panel example
    				<p><button type="button" class="btn btn-default btn-lg">
 						<span class="glyphicon glyphicon-upload" aria-hidden="true"></span>Subir Foto
						</button>
                	</p>
  		   		</div>
			</div>





			<div class="container">
            <div class="row">
                <p class="text-center"><strong>Copyright © 2015 | PoderOSOS</strong></p>
            </div>
</div>
 </div>

</template>